.game-container {
  background-color: rgb(182, 146, 98);
  min-height: 88.3vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.game-card-container {
  background-color: rgb(250, 249, 246);
  min-height: 32vh;
  min-width: 36vw;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.game-zigzag-word {
  font-size: 20px;
  font-family: "Roboto";
  font-weight: 800;
}
.game-input {
  min-width: 20vw;
  padding: 6px;
  font-size: 15px;
  font-family: "Roboto";
  border: 2px solid rgb(26, 19, 32);
  margin: 10px;
}
.game-check-button {
  background-color: rgb(118, 175, 90);
  border: 2px solid rgb(26, 19, 32);
  padding: 6px;
  border-radius: 3px;
  font-size: 16px;
  font-family: "Roboto";
  color: #090909;
  font-weight: 900;
  cursor: pointer;
  margin-bottom: 100px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.game-next-button {
  background-color: rgb(145, 188, 209);
  border: 2px solid rgb(26, 19, 32);
  padding: 6px;
  border-radius: 3px;
  font-size: 16px;
  font-family: "Roboto";
  color: #090909;
  font-weight: 900;
  cursor: pointer;
  margin-bottom: 100px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 0px;
}
.game-check {
  font-size: 18px;
  font-family: "Roboto";
  color: rgb(203, 29, 29);
}
@media screen and (min-width: 992px) {
  .game-zigzag-word {
    font-size: 26px;
  }
  .game-input {
    font-size: 20px;
  }
  .game-check {
    font-size: 20px;
  }
}
