.todos-bg-container {
  min-height: 85.5vh;
  padding-left: 10px;
}
.todos-heading {
  text-align: center;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 800;
}

.create-task-heading {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 700;
}

.create-task-heading-subpart {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
}

.todo-user-input {
  background-color: white;
  width: 50%;
  border-style: solid;
  border-width: 2px;
  border-color: #080808;
  border-radius: 10px;
  padding: 6px;
}
.add-button {
  color: white;
  background-color: #4c63b6;
  font-family: "Roboto";
  font-size: 15px;
  border-width: 0px;
  border-radius: 4px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 20px;
  padding-left: 20px;
  cursor: pointer;
  margin-left: 10px;
}
.todo-items-heading {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 700;
}
.todo-items-heading-subpart {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
}

.text-decoration-on {
  text-decoration: line-through;
  font-family: "Roboto";
  font-size: 15px;
  margin-right: 6px;
}
.text-decoration-off {
  font-family: "Roboto";
  font-size: 15px;
  margin-right: 6px;
}
.todo-items {
  list-style-type: decimal;
  margin-top: 0px;
}
@media screen and (min-width: 992px) {
  .todos-heading {
    font-size: 28px;
  }
  .create-task-heading {
    font-size: 24px;
    margin-top: 0px;
  }
  .create-task-heading-subpart {
    font-size: 24px;
    margin-top: 0px;
  }
  .todo-items-heading {
    font-size: 24px;
    margin-top: 0px;
  }
  .todo-items-heading-subpart {
    font-size: 24px;
    margin-top: 0px;
  }
  .todo-user-input {
    margin-bottom: 10px;
    padding: 10px;
  }
  .add-button {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .text-decoration-on {
    font-size: 18px;
    margin-right: 10px;
  }
  .text-decoration-off {
    font-size: 18px;
    margin-right: 10px;
  }
}
